
body{
    background-color: lightblue;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px;
    padding: 10px;
}

.item1{
    grid-column: 1 / span 3;
    background-color: white;
}

.item2{
    grid-column: 1 / span 1;
    grid-row: 2  span 2;
    background-color: white;
}

.item3{
    grid-column: 2 / span 2;
    grid-row: 2  span 2;
    background-color: white;
}
.item4 {
    grid-area: main;
    height: 60vh;
    border-radius: 100%;
    background-color: magenta;
    animation-name: blink;
    animation-duration: 4s;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: darkblue;
    }
  }

@keyframes blink { from {background-color: magneta} to {background-color:rosybrown;}}

div {
    animation-name: blink;
    animation-duration: 5s;
}

@keyframes rotate{
    from { transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#rotate_shay{
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

