*{
    border: 2px solid black;
}

.Container{
    display: grid;
    grid-template-areas: 
    'header header header header header'
    'menu main main right right'
    'menu footer footer footer footer';
}

.item1 {
    grid-area: header;
    height: 60vh;
}

.item2 {
    grid-area: menu;
    height: 60vh;

}

.item3 {
    grid-area: main;
    height: 60vh;
    border-radius: 100%;
    background-color: magenta;
    animation-name: blink;
    animation-duration: 4s;
}

.item4 {
    grid-area: right;
    height: 60vh;

}

.item5 {
    grid-area: footer;
    height: 60vh;

}

@media only screen and (max-width: 600px)
{
    .Container{
        display: grid;
        grid-template-areas: 
        'header'
        'menu'
        'main'
        'right'
        'footer';
    }
    
}

@keyframes blink {
    from {background-color: magenta;}
    to {background-color: white;}
    
}