* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#logo {
    text-align: center;
}

#links {
    text-align: center;
}

#title {
    text-align: center;
}

.grid { 
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(15, 1fr);
    margin: 40px;
    grid-auto-rows: min-content;
}

@keyframes changecolor {
    from{background-color: rgb(150, 229, 217);}
    to{background-color: rgb(150, 240, 20);}
}

#review1{
    background-color: rgb(150, 229, 217);
    animation-name: changecolor;
    animation-duration: 3s;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 20px 20px rgba(80, 70, 45, 0.801);
    margin-block: 10px;	
    grid-column: 8/15;
    grid-row: 1;
}


#review2{
    background-color: rgb(150, 229, 217);
    animation-name: changecolor;
    animation-duration: 3s;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 20px 20px rgba(80, 70, 45, 0.801);
    margin-block: 10px;	
    grid-column: 1/8;
    grid-row: 1 span;
}


#review3 {
    background-color: rgb(150, 229, 217);
    animation-name: changecolor;
    animation-duration: 3s;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 20px 20px rgba(80, 70, 45, 0.801);
    margin-block: 10px;	
    grid-column: 1/8;
    grid-row: 2 span;
}

#review4 {
     background-color: rgb(150, 229, 217);
    animation-name: changecolor;
    animation-duration: 3s;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 20px 20px rgba(80, 70, 45, 0.801);
    margin-block: 10px;	
    grid-column: 8/15;
    grid-row: 2 span;
}


#review5 {
    background-color: rgb(150, 229, 217);
    animation-name: changecolor;
    animation-duration: 3s;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 20px 20px rgba(80, 70, 45, 0.801);
    margin-block: 10px;	
    grid-column: 1/8;
    grid-row: 3 span;
}
#review6 {
    background-color: rgb(150, 229, 217);
    animation-name: changecolor;
    animation-duration: 3s;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 20px 20px rgba(80, 70, 45, 0.801);
    margin-block: 10px;	
    grid-column: 8/15;
    grid-row: 3 span;
}

@media only screen and (max-width: 800px) {
    .grid{ 
        display: block;
    	padding: 25px;
        margin-block: 15px;    	
    }
}

.button {
    font: bold 25px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    border-radius: 10rem;
    padding: 18px 22px 18px 22px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    position:absolute;
      transition: .5s ease;
      top: 14%;
      left: 10%;
  }
  footer{
    text-align: center;
}