* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fc1581
    ;
    text-align:center;
}
  
  li {
    /* float: left; */
    display:inline-block;
  }
  
  li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #81083b

    ;
  }
#logo {
    text-align: center;
}

#links {
    text-align: center;
}



.button {
    font: bold 25px Arial;
    text-decoration: none;
    background-color: #fc1581;
    color: #000000;
    border-radius: 10rem;
    padding: 18px 22px 18px 22px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    position:absolute;
      transition: .5s ease;
      top: 14%;
      left: 10%;
  }


#about{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 270px;
    margin-left: 270px;
  }

footer{
    text-align: center;
}

#opening_hours{
      align-self: left;
}