* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#logo {
    text-align: center;
}

#links {
    text-align: center;
}

#body {
    text-align: center;
}

.tab {
    tab-size: 8;
}

.button {
    font: bold 25px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    border-radius: 10rem;
    padding: 18px 22px 18px 22px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    position:absolute;
      transition: .5s ease;
      top: 8%;
      left: 30%;
  }