* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fc1581
    ;
    text-align:center;
}

li {
    /* float: left; */
    display:inline-block;
  }
  
  li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #81083b

    ;
  }

#body {
    text-align: center;
}

.tab {
    tab-size: 8;
}


@media only screen and (max-width: 800px) {
    .grid{ 
        display: block;
    	padding: 25px;
        margin-block: 15px;    	
    }
}